// Variables

// Colors
$color-outer-space: #2c3942;
$color-white: #fff;
$color-mine-shaft: #2a2a2a;
$color-cornflower-blue: #5888eb;
$color-silver: #b8b8b8;
$color-persian-green: #00a199;
$color-teal: #008f87;
$color-pine-green: #02726c;
$color-ebony-clay: #26343e;
$color-blue-bayoux: #486274;
$color-ebony-clay: #212b32;
$color-gray: #929292;
$color-gray: #263038;
$color-curious-blue: #2b93e4;
$color-apple: #34c248;
$color-flamenco: #ff8506;
$color-flamingo: #ee5025;

// Typography
$FuturaPTBook: "FuturaPT Book";
$FuturaPT: "FuturaPT";
$BebasNeue: "BebasNeue";
