// Buttons and links

.button {
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 0 20px;
  background: #eee;
}

.button--primary {
  color: #fff;
  background: $color-persian-green;

  &:hover {
    background: $color-teal;
  }

  &:active {
    background: $color-pine-green;
  }
}

.button--rounded {
  background: transparent;
}

.button--rounded.button--primary {
  border: 1px solid $color-persian-green;
  color: $color-persian-green;

  &:hover {
    border-color: $color-teal;
    color: $color-teal;
    background: transparent;
  }

  &:active {
    border-color: $color-pine-green;
    color: $color-pine-green;
    background: transparent;
  }
}

.button--small {
  height: 33px;
  line-height: 31px;
}

.button--large {
  padding: 0 30px;
  width: 180px;
  height: 40px;
  line-height: 40px;
}

.button--arrow {
  position: relative;
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 11px;
    border-bottom: 1px solid $color-persian-green;
    border-left: 1px solid $color-persian-green;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    transition: 0.4s ease-out;
  }

  &.is-active::before {
    top: 14px;
    transform: rotate(135deg);
  }
}
