<div class="product-wrapper">
  <div class="product-list view-tile">

    <div class="product">
      <div class="product__badge">

      </div>
      <div class="product__preview">
        <img class="product__image" src="../../images/product/product-1.png" alt="ЖК Биосфера">
      </div>
      <div class="product__content">
        <div class="product__progress">
          <div class="product__progress-title">Готовность</div>
          <div class="product__progress-bar product__progress-bar--warning">
            <div class="product__progress-bar__inner" style="height: 40%;"></div>
          </div>
          <div class="product__progress-grid">
            <div class="product__progress-grid__number product__progress-grid__number--max">100%</div>
            <div class="product__progress-grid__number product__progress-grid__number--middle">50%</div>
            <div class="product__progress-grid__number product__progress-grid__number--min">0%</div>
          </div>
        </div>
        <div class="product__info-wrapper">
          <div class="product__info-section">
            <div class="product__info">
              <div class="product__info-title">Продано</div>
              <div class="product__info-description">134</div>
            </div>
            <div class="product__info">
              <div class="product__info-title">Свободно</div>
              <div class="product__info-description">46</div>
            </div>
          </div>
          <div class="product__info-section">
            <div class="product__info">
              <div class="product__info-title">Старт продаж</div>
              <div class="product__info-description">01.05.2020</div>
            </div>
            <div class="product__info">
              <div class="product__info-title">Срок сдачи</div>
              <div class="product__info-description">10.03.2022</div>
            </div>
            <div class="product__info">
              <div class="product__info-title">Класс</div>
              <div class="product__info-description">Стандарт</div>
            </div>
          </div>
          <div class="product__info-section">
            <div class="product__info-title">Типы планировок</div>
            <div class="product__info-plan__list">
              <div class="product__info-plan__item">ст</div>
              <div class="product__info-plan__item">1</div>
              <div class="product__info-plan__item">1,5</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__logo"></div>
    </div>

    <div class="product">
      <div class="product__badge"></div>
      <div class="product__preview">image</div>
      <div class="product__content">content</div>
      <div class="product__logo"></div>
    </div>

    <div class="product">
      <div class="product__badge"></div>
      <div class="product__preview">image</div>
      <div class="product__content">content</div>
      <div class="product__logo"></div>
    </div>

    <div class="product">
      <div class="product__badge"></div>
      <div class="product__preview">image</div>
      <div class="product__content">content</div>
      <div class="product__logo"></div>
    </div>

  </div>
</div>
