<div class="sidebar">
  <ul class="navbar">
    <li class="navbar__item">
      <a class="navbar__link" href="#"><i class="fas fa-house-user"></i> На сайт</a>
    </li>
    <li class="navbar__item is-active">
      <a class="navbar__link" href="#"><i class="far fa-list-alt"></i> Жилые комплексы</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#"><i class="fab fa-staylinked"></i> Застройщики</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#"><i class="far fa-chart-bar"></i> Аналитика продаж</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#"><i class="fas fa-ruler-combined"></i> Планировки</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#"><i class="fas fa-dollar-sign"></i> Ценообразование</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#"><i class="fas fa-street-view"></i> Анализ локации</a>
    </li>
  </ul>
</div>
