<!doctype html>
<html lang="en">
<head>

  <%= require('html-loader!./partials/head.html') %>

</head>
<body class="wrapper">

  <%= require('html-loader!./partials/header.html') %>

  <%= require('html-loader!./partials/sidebar.html') %>

  <div class="main">
    <div class="container">

      <%= require('html-loader!./partials/filters.html') %>

      <div class="main__title-wrapper">
        <h2 class="main__title">Выберите дома для сравнения</h2>
        <button class="button button--arrow button--rounded
          button--primary button--small js-map-control">Скрыть карту</button>
      </div>

      <!-- Map -->
      <%= require('html-loader!./partials/map.html') %>

      <!-- Toggle View Cards -->
      <%= require('html-loader!./partials/view-mode.html') %>

      <!-- Cards -->
      <%= require('html-loader!./partials/product.html') %>

    </div>
  </div>

  <!--<%= require('html-loader!./partials/footer.html') %>-->

</body>
</html>
